<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous">
    <!-- <link rel='stylesheet' href='/css/slider.css'> -->
    <link rel='stylesheet' href='/css/style.css'>
    <title>
      <%= title %>
    </title>
  </head>
  
  <body>
    <!-- header start -->
  
      <!-- <div class="adminPanel"> -->
          <!-- <p>AdminPanel</p>
          <button id='btnCreateGallery'>Создать Галерею</button>
          <button id='btnCreateAlbum'>Создать Альбом</button>
          <button id='btnCreateService'>Создать Услугу</button>
  
          
          <div class="createGallery">
            
            <form>
  
              <label for="">Название Галереи</label>
              <input type="text">
  
              <button>Create</button>
  
            </form>
            
          </div> -->
  
          <!-- Popup: Create Album
          <div class="createAlbum">
            Your new Album
          </div>
  
           Popup: Create Service
          <div class="createService">
            Your new Service
          </div> -->
          
        <!-- </div> -->
  
    <header>
  
      <div class="container">
        <div class="header-flex">
            <div class="header-contacts">
                <div class="header-phone">
                  <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square"></i>+380 95 579 24 17</a>
                </div>
                <div class="header-social">
                  <div class="header-facebook">
                    <a title="facebook" href=""><i class="fab fa-facebook-square"></i>facebook</a>
                  </div>
                  <div class="header-instagram">
                    <a title="instagram" href=""><i class="fab fa-instagram"></i>instagram</a>
                  </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="logo">
                    <a href="/">
                      <img class="logoImg" src="/img/logo.png" alt="logo">
                    </a>
                </div>
                <nav class="navigation">
                    <input type="checkbox" name="toggle" id="burger" class="toggleMenu">
                    <label for="burger" class="toggleMenu">Menu</label>
                    <span class="burger-line"></span>
                    <ul class="menu">
                        <li><a href="/">Главная</a></li>
                        <li class="menu-item">
                          <a>Галерея</a>
                          <ul class="menu-sub">
                            <% for (let i = 0; i < galleryNames.length; i++) { %>
                            <li><a href="<%= galleryNamesEn[i] %>">
                                <%= galleryNames[i] %></a></li>
                            <% }; %>  
                          </ul>
                        </li>
                        <li class="menu-item">
                          <a>Услуги</a>
                          <ul class="menu-sub">
                            <li><a href="newborn-prices">Новорожденные</a></li>
                            <li><a href="baby-prices">Младенцы</a></li>
                            <li><a href="photo-book-prices">Фотокниги и хосты</a></li>
                          </ul>
                        </li>
                        <li><a href="#">О съемке</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Обо мне</a></li>
                        <li><a href="contacts">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
      </div>
  
    </header>
    <!-- header end -->

      <!-- main start -->
      <main>

        <section>

          <div class="newborn-image">
            <img src="/public/img/newborn-price.jpg" alt="newborn-photo">
          </div>

          <div class="newborn-prices">
            <div class="low-price">
              <h3 class="low-price-title">Пакет "Экспресс"</h3>
              <p class="low-price-text">
                - 10 фото с детальной ретушью в авторской обработке; 
                - Web копии фотографий для удобного размещения в интернете;
                - Фотографии на Flash носителе;
                - Сьемка длительностью 2-3 часа;
                - Не больше 1го ребенка (фото с родителями не входят);
                - Сьемка, у вас на дому.</p>
            </div>
            <div class="low-price">
                <h3 class="low-price-title">Пакет "Стандарт"</h3>
                <p class="low-price-text">
                    - 15 фото с детальной ретушью в авторской обработке; 
                    - Печать фото 15х21;
                    - Web копии фотографий для удобного размещения в интернете;
                    - Фотографии на Flash носителе;
                    - Сьемка длительностью до 4х часов;
                    - 1-2 ребенка (входят фото с родителями);
                    - Сьемка, у вас на дому.</p>
              </div>
              <div class="low-price">
                  <h3 class="low-price-title">Пакет "VIP"</h3>
                  <p class="low-price-text">
                      - 20 фото с детальной ретушью в авторской обработке; 
                      - Печать фото 15х21;
                      - Web копии фотографий для удобного размещения в интернете;
                      - Фотографии на Flash носителе;
                      - Фотокнига WOODSKIN (с деревяной обложкой) 30х30см на 10 разворотов;
                      - Скидка на дополнительный экземпляр фотокниги любого размера 10%;
                      - Сьемка длительностью до 5ти часов;
                      - Сьемка, у вас на дому.</p>
                </div>
          </div>

          <div class="newborn-attention">
            <h3>ОБРАТИТЕ ВНИМАНИЕ:</h3>
            <p>Предварительное бронирование - бесплатно!

              Работаю по Киеву и его окрестностях. Выезд по Киеву включен в стоимость съемки.
              Выезд за пределы Киева оплачивается отдельно. 
              
              Весь отснятый материал является рабочим и не предоставляется, отбор фото на ретушь производится фотографом.
              
              За клиентом остается право выкупить исходники.
              
              Дополнительная обработки фото с удачных кадров возможна, фото для отбора скидываются в защищенном формате, стоимость ретуши уточняйте.
              
              Срок отдачи готового результата: 2 месяца с момента 100% оплаты.</p>
          </div>

          <div class="newborn-moreAdd">
            <h3>Дополнительно к любому из пакетов Вы можете заказать:</h3>
            <p>● фотокнигу стандарт или премиум класса различных форматов

              ● дополнительную печать фотографий
              
              ● фотокартину на холсте различных форматов</p>
          </div>

        </section>

      </main>
      <!-- main end -->

    </div>
    <!-- wrapper end -->

    <!-- footer start -->
    <footer>

    </footer>
    <!-- footer end -->

    <script src="/js/index.js"></script>
  </body>
</html> -->
