<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140721999-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-140721999-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/css/style.css'>
  <title>
      Фотосессия новорожденного, как же правильно все организовать?
  </title>
  <meta name="description" content="Статья - 'Фотосессия новорожденного, как же правильно все организовать?', фотограф новорожденных Алина Пятигор ➔ Узнать подробнее!">
</head>

<body>
  <!-- header start -->
  
  <header>
      <div class="container">
            <div class="header-contacts">
                <div class="header-phone">
                  <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
                </div>
                <div class="header-viber">
                  <a title="Viber" href="viber://chat?number=+380955792417"><i class="fab fa-viber fa-lg"></i>Viber</a>
                </div>
            </div>
            <div class="header-nav">
                <div class="logo">
                    <a href="/">
                      <img class="logoImg" src="../img/logo.png" alt="logo">
                    </a>
                </div>
                <nav class="navigation">
                    <button type="button" class="nav-btn">
                      Меню
                      <span class="burger-line"></span>
                    </button>
                    <ul class="menu">
                        <li><a href="/">Главная</a></li>
                        <li>
                          <a class="menu-item">Галерея</a>
                          <ul class="menu-sub">
                            <% for (let i = 0; i < galleryNames.length; i++) { %>
                            <li><a href="<%= galleryNamesEn[i] %>">
                                <%= galleryNames[i] %></a></li>
                            <% }; %> 
                          </ul>
                        </li>
                        <li>
                          <a class="menu-item">Услуги</a>
                          <ul class="menu-sub">
                              <% for (let i = 0; i < prices.length; i++) { %>
                                <li><a href="<%= pricesEn[i] %>">
                                    <%= prices[i] %></a></li>
                                <% }; %>  
                          </ul>
                        </li>
                        <li><a href="o-semke">О съемке</a></li>
                        <li><a href="otzyvy">Отзывы</a></li>
                        <li><a href="obo-mne">Обо мне</a></li>
                        <li><a href="kontakty">Контакты</a></li>
                        <li><a href="aktsii">Акции</a></li>
                    </ul>
                </nav>
            </div>
      </div>
  </header>
  <!-- header end -->

  <!-- main start -->
  <main>

    <section>

      <article class="newborn-session">
          <div class="container">

          <h1>Фотосессия новорожденного</h1>

          <p><strong>Фотосессия новорожденного</strong> - все эти милые позы комочком, уютные корзинки, сладко спящие мосички, только представьте как <a href="/novorozhdennye" title="Галерея новорожденных">нежно будут выглядеть </a>спустя годы!...</p>

          <p>Если вы хотите сохранить такой быстротечный, самый нежный период первых дней с рождения вашего ангелочка предоставьте это специалисту, ведь данный вид сьемки требует специальных профильных знаний и колоссальной подготовки. Доверится профессиональному фотографу для новорожденных это впервую очередь безопасность вашего малыша, уверенность в качестве фотографий и удовольствие от самого процесса!</p>
            
          <h3>Итак, как же правильно все организовать и <a title="Заказать фотоссесию новорожденного" class="modal-btn">заказать фотосессию новорожденного</a> ?!</h3>

          <p>В Киеве огромный выбор newborn фотографов, но важно выбрать именно своего! А как это сделать? Все очень просто!</p>
          
          <ul class="newborn-session-choice">
            <li>
                - Смотрите портфолио, вы должны быть на одной волне с фотографом и разделять его вкусы и стиль в сьемке.
            </li>
            <li>
                - Обязательно читайте отзывы, это отличная возможность сделать правильный выбор!
            </li>
            <li>
                - Ну и конечно же фотограф новорожденных должен отвечать вашим основным критериям, например - <a href="/novorozhdennye-stoimost" title="Стоимость новорожденной съемки">цена фотосьемки</a>, она напрямую зависит от профессионализма; фотограф новорожденных с выездом, тоже есть не мало важный критерий если вы хотите провести фотосессию в домашней уютной обстановке, убедитесь что ваш фотограф работает с выездом по Киеву и пригороду и д.р..
            </li>
          </ul>

          <p>Фотосессии новорожденных проводят в возрасте от 5 до 14 дней с рождения, оптимально 7-10 дней. Это связанно с тем что у малыша еще очень крепкий сон, его с лёгкостью можно перекладывать в такие милые позы комочком, без вреда для крохи, так как они еще помнят как были у мамы в животике. Так же в этот период у малышей еще нет колик и они не чутко реагирую на прикосновения.</p>
          
          <p>Что бы первая фотосессия малыша прошла вовремя я советую записаться еще до рождения крохи, по ПДР (предварительная дата родов), это позволит вам точно знать что мы найдем подходящую для сьемки дату, а я смогу правильно спланировать свой график. Так же еще до рождения мы можем обговорить все детали и хорошо подготовиться!</p>

          <p>Заказать фотосессию новорожденного с выездом на дом - у меня все возможно! На сьемку я приезжаю с искусственным светом, а это значительно облегчает выбор сьемочного пространства и мы можем разместится в любой, максимально свободной от мебели, части комнаты. Если у вас есть большие окна и погода позволяет мы можем провести сьемку с естественным светом. Так же у меня есть весь необходимый специализированный реквизит (корзинки, шапочки, бодики) и вам не нужно переживать где все это взять!</p>

          <p>Фотосессия новорожденного с родителями это самая нежная часть сьемки и для нее у меня предусмотрены специальные фоны, поэтому вам совсем не стоит беспокоиться о качестве ремонта или мебели, простой классически фон - все что нужно что бы передать всю глубину эмоций.</p>

          <p>Доверьтесь мне и я позабочусь что бы этот день стал для вашей семьи незабываемым, а память о первых днях сохранила всю теплоту в нежных фотокарточках!</p>
          
        </div>
        </article>
    </section>


  </main>
  <!-- main end -->

  <!-- footer start -->
  <footer>

    <div class="container">
      <div class="footer-social-items">
        <div class="footer-social-item">
          <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
        </div>
        <div class="footer-social-item">
          <a title="instagram" href="https://www.instagram.com/alina.piatyhor/"><i class="fab fa-instagram fa-lg"></i>instagram</a>
        </div>
        <div class="footer-social-item">
          <a title="facebook" href="https://www.facebook.com/a.ivaschenko1"><i class="fab fa-facebook-square fa-lg"></i>facebook</a>
        </div>
        <div class="footer-social-item">
          <a title="@mail" href="mailto:alina.piatyhor@gmail.com"><i class="far fa-envelope fa-lg"></i>alina.piatyhor@gmail.com</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- footer end -->
  <!-- modal start-->
  <div class="modal">
  <div class="modal-wrap">
        <span class="modal-close-btn">&times;</span>
        <h3 class="modal-title">Оставить заявку</h3>
        <div class="modal-item">
            <form id="form" class="modal-form">
              <div class="modal-form-items">
                <div class="modal-form-item">
                    <input type="text" id="name" name="name" placeholder="Ваше имя">
                    <input type="email" id="email" name="email" placeholder="Ваш e-mail">
                    <input type="phone" id="phone" name="phone" placeholder="Ваш телефон">
                </div>
                <div class="modal-form-item">
                    <textarea rows="10" cols="10" id="text" placeholder="Ваше сообщение"></textarea>
                </div>
              </div>
              <input type="submit" id="send-modal-from-btn" name="submit" value="Отправить">
            </form>
      </div>
  </div>
  </div>
  <!-- modal end-->
  <script src="/js/form-validation.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/modal.js"></script>  
</body>

</html>