<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140721999-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-140721999-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/css/style.css'>
  <title>
    Беспокойный ребенок и фотоссесия, как быть?
  </title>
  <meta name="description" content="Статья - 'Фотосессия новорожденного, почему с ней нельзя тянуть?', фотограф новорожденных Алина Пятигор ➔ Узнать подробнее!">
</head>

<body>
  <!-- header start -->
  
  <header>
      <div class="container">
            <div class="header-contacts">
                <div class="header-phone">
                  <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
                </div>
                <div class="header-viber">
                  <a title="Viber" href="viber://chat?number=+380955792417"><i class="fab fa-viber fa-lg"></i>Viber</a>
                </div>
            </div>
            <div class="header-nav">
                <div class="logo">
                    <a href="/">
                      <img class="logoImg" src="../img/logo.png" alt="logo">
                    </a>
                </div>
                <nav class="navigation">
                    <button type="button" class="nav-btn">
                      Меню
                      <span class="burger-line"></span>
                    </button>
                    <ul class="menu">
                        <li><a href="/">Главная</a></li>
                        <li>
                          <a class="menu-item">Галерея</a>
                          <ul class="menu-sub">
                            <% for (let i = 0; i < galleryNames.length; i++) { %>
                            <li><a href="<%= galleryNamesEn[i] %>">
                                <%= galleryNames[i] %></a></li>
                            <% }; %> 
                          </ul>
                        </li>
                        <li>
                          <a class="menu-item">Услуги</a>
                          <ul class="menu-sub">
                              <% for (let i = 0; i < prices.length; i++) { %>
                                <li><a href="<%= pricesEn[i] %>">
                                    <%= prices[i] %></a></li>
                                <% }; %>  
                          </ul>
                        </li>
                        <li><a href="o-semke">О съемке</a></li>
                        <li><a href="otzyvy">Отзывы</a></li>
                        <li><a href="obo-mne">Обо мне</a></li>
                        <li><a href="kontakty">Контакты</a></li>
                    </ul>
                </nav>
            </div>
      </div>
  </header>
  <!-- header end -->

  <!-- main start -->
  <main>
    <section>
      <article class="newborn-session">
        <div class="container">

          <h1>Беспокойный ребенок и фотоссесия, как быть?</h1>

          <p>Часто слышу от родителей, которые не успели на <strong>новорожденную сьемку</strong>, что у них малыш беспокойный и я бы так не смогла его уложить как на <a href="/novorozhdennye" title="Галерея новорожденных">моих фото </a>сделанных ранее.</p>

          <p>В этом случае я всегда говорю что ничего невозможного не бывает, в первую очередь все зависит от настроя родителей и квалификации и опыта фотографа.</p>
            
          <p>Конечно я не утверждаю что получится все на сто процентов, есть ряд позировочек сложных в плане выполнения для беспокойных деток, но так же есть и образы в которых комфортно всем малышам!</p>

          <p>Если опыт позволяет и есть доверие родителей подход можно найти ко всем деткам!</p>
            
          <p>Чаще всего беспокойство малышей связано с послеродовым стрессом ребенка, малыш попадает в этот мир после уютной утробы и испытывает стресс, перепад температуры, страх, незнакомые запахи, звуки и т.д., в этом случае срабатывает защитная реакция и малыш не слазит с рук мамы и спокойный в основном возле груди.</p>

          <p>Если данные признаки на лицо и вы сильно беспокойтесь, но хотите запечатлеть малыша совсем маленьким, я советую все же немного подождать и сделать фотосессию немного позже в 3-5 месяцев.</p>          
          
          <p>До этого возраста малыш адаптируется к миру и маме будет спокойнее!:)</p>

          <p>Но если вы хотите получить такие волшебные, неповторимые фото вашего крошки совсем крохи - не ищите отговорки! Если вы будете ждать - 🔺когда малыш окрепнет, 🔺когда ему стукнет 40 дней, 🔺когда вы его покрестите и т.д., знайте☝🏻 данная фотосессия уже не состоится никогда!</p>
          
        </div>
      </article>
    </section>
  </main>
  <!-- main end -->

  <!-- footer start -->
  <footer>

    <div class="container">
      <div class="footer-social-items">
        <div class="footer-social-item">
          <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
        </div>
        <div class="footer-social-item">
          <a title="instagram" href="https://www.instagram.com/alina.piatyhor/"><i class="fab fa-instagram fa-lg"></i>instagram</a>
        </div>
        <div class="footer-social-item">
          <a title="facebook" href="https://www.facebook.com/a.ivaschenko1"><i class="fab fa-facebook-square fa-lg"></i>facebook</a>
        </div>
        <div class="footer-social-item">
          <a title="@mail" href="mailto:alina.piatyhor@gmail.com"><i class="far fa-envelope fa-lg"></i>alina.piatyhor@gmail.com</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- footer end -->
  <!-- modal start-->
  <div class="modal">
  <div class="modal-wrap">
        <span class="modal-close-btn">&times;</span>
        <h3 class="modal-title">Оставить заявку</h3>
        <div class="modal-item">
            <form id="form" class="modal-form">
              <div class="modal-form-items">
                <div class="modal-form-item">
                    <input type="text" id="name" name="name" placeholder="Ваше имя">
                    <input type="email" id="email" name="email" placeholder="Ваш e-mail">
                    <input type="phone" id="phone" name="phone" placeholder="Ваш телефон">
                </div>
                <div class="modal-form-item">
                    <textarea rows="10" cols="10" id="text" placeholder="Ваше сообщение"></textarea>
                </div>
              </div>
              <input type="submit" id="send-modal-from-btn" name="submit" value="Отправить">
            </form>
      </div>
  </div>
  </div>
  <!-- modal end-->
  <script src="/js/library.js"></script>
  <script src="/js/contacts.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>