<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/css/style.css'>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <!-- main start -->
  <main>
    <!--  -->
    <!-- hero section start-->
    <!--  -->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1>
                    Фотограф новорожденных Алина Пятигор
                </h1>
                <p>
                  Сайт находиться на реконструкции. Извините за временные неудобства.
                </p>
            </div>
            <div class="buttons">
              <a href="novorozhdennye-2019">Стоимость сьемки новорожденных</a>
              <a href="mladentsy-2018">Стоимость сьемки младенцев</a>
            </div>
        </div>
    </section>
  </main> 
  <!-- main end -->

  <!-- footer start -->
  <footer>

    <div class="container">
      <div class="footer-social-items">
        <div class="footer-social-item">
          <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
        </div>
        <div class="footer-social-item">
          <a title="instagram" href="https://www.instagram.com/alina.piatyhor/"><i class="fab fa-instagram fa-lg"></i>instagram</a>
        </div>
        <div class="footer-social-item">
          <a title="facebook" href="https://www.facebook.com/a.ivaschenko1"><i class="fab fa-facebook-square fa-lg"></i>facebook</a>
        </div>
        <div class="footer-social-item">
          <a title="@mail" href="mailto:alina.piatyhor@gmail.com"><i class="far fa-envelope fa-lg"></i>alina.piatyhor@gmail.com</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- footer end -->
</body>

</html>