<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous">
    <!-- <link rel='stylesheet' href='/css/slider.css'> -->
    <link rel='stylesheet' href='/css/style.css'>
    <title>
      <%= title %>
    </title>
  </head>
  
  <body>
    
      <!-- main start -->
      <main>

        <section class="newborn-price">
          <div class="container">

              <h1 class="newborn-price-title">
                  Стоимость и пакеты фотосьемки новорожденых 
              </h1>
      
                <div class="newborn-price-items">
                  <div class="newborn-price-item" id="minimum">
                    <div class="newborn-price-img">
                      <img src="../img/first-min.jpg" alt="Фотография новорожденного">
                    </div>
                    <div class="newborn-price-description">
                      <h3 class="newborn-price-subtitle">Пакет "Минимум"</h3>
                      <h4 class="newborn-price-subtitle">200$</h4>
                      <ul class="newborn-price-text">
                        <li>- 10 фото с детальной ретушью в авторской обработке;</li> 
                        <li>- Web копии фотографий с детальной ретушью для удобного размещения в интернете;</li>
                        <li>- Дополнительно все удачные фото с базовой цветокоррекцией; </li>
                        <li>- Фотографии на Flash носителе;</li>
                        <li>- Сьемка длительностью до 3-х часов;</li>
                        <li>- Не больше 1го ребенка (фото с родителями не входят);</li>
                        <li>- Сьемка, у вас на дому.</li>
                        <li>- Сьемка, с учетом скидки на разрешение публикации, у вас на дому стоимостью 200$* дол.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="newborn-price-item" id="standart">
                      <div class="newborn-price-img">
                          <img src="../img/second-min.jpg" alt="Фотография новорожденного с счасливо мамой">
                      </div>
                      <div class="newborn-price-description">
                          <h3 class="newborn-price-subtitle">Пакет "Стандарт"</h3>
                          <h4 class="newborn-price-subtitle">300$</h4>
                          <ul class="newborn-price-text">
                            <li>- 20 фото с детальной ретушью в авторской обработке;</li> 
                            <li>- Web копии фотографий с детальной ретушью для удобного размещения в интернете;</li>
                            <li>- Печать фото с детальной ретушью размером 15х21 - 20шт.;</li>
                            <li>- Дополнительно все удачные фото с базовой цветокоррекцией; </li>
                            <li>- Фотографии на Flash носителе;</li>
                            <li>- Сьемка длительностью до 4-х часов;</li>
                            <li>- 1-2 ребенка, фото с родителями по желанию;</li>
                            <li>- Сьемка, у вас на дому.</li>
                            <li>- Сьемка, с учетом скидки на разрешение публикации, у вас на дому стоимостью 300$* дол.</li>
                          </ul>
                      </div>
                    </div>
                    <div class="newborn-price-item" id="vip">
                        <div class="newborn-price-img">
                            <img src="../img/third-min.jpg" alt="Фотография новорожденного с милыми и довольными братьями">
                        </div>
                        <div class="newborn-price-description">
                          <h3 class="newborn-price-subtitle">Пакет "VIP"</h3>
                          <h4 class="newborn-price-subtitle">550$</h4>
                          <ul class="newborn-price-text">
                            <li>- 30 фото с детальной ретушью в авторской обработке;</li> 
                            <li>- Web копии фотографий с детальной ретушью для удобного размещения в интернете;</li>
                            <li>- Печать фото с детальной ретушью размером 15х21 - 30шт.;</li>
                            <li>- Дополнительно все удачные фото с базовой цветокоррекцией; </li>
                            <li>- Фотографии на Flash носителе;</li>
                            <li>- Фотокнига Премиум класа WOODSKIN (с деревянной обложкой) 30х30см на 10 разворотов;</li>
                            <li>- Скидка на дополнительный экземпляр фотокниги любого размера 10%;</li>
                            <li>- Макро сьемка (ножки, ручки и др.);</li>
                            <li>- Сьемка длительностью до 5-ти часов;</li>
                            <li>- 1-3 ребенка, фото с родителями по желанию;</li>
                            <li>- Сьемка, у вас на дому.</li>
                            <li>- Сьемка, с учетом скидки на разрешение публикации, у вас на дому стоимостью 550$* дол.</li>
                          </ul>
                      </div>
                    </div>
                </div>
      
                <div class="newborn-price-attention">
                  <h3 class="newborn-price-subtitle">ОБРАТИТЕ ВНИМАНИЕ:</h3>
                  <p>Предварительное бронирование - бесплатно!</p>
      
                  <p>Работаю по Киеву и его окрестностях. Выезд по Киеву включен в стоимость съемки<br>
                    Выезд за пределы Киева оплачивается отдельно (символическая оплата топлива).</p> 
                    
                  <p>Отбор фото на ретушь производится фотографом.</p>
                    
                  <p>Дополнительная обработки фото с удачных кадров возможна, стоимость ретуши 10$/1 фото. Хранение фото 3 месяца с момента сьемки.</p>

                  <p>Срок отдачи готового результата: 2 месяца с момента 100% оплаты.</p>
                   
                  <p>* - цены указаны с учетом скидки в 100 $. Скидка предполагает подписание модельного релиза. Если вы категорически не хотите видеть фото вашего малыша в сети интернет (мой сайт, блог и т.д.) для вас действует обычная цена без скидки (т.е.: 300/400/650 $ дол.). Модельный релиз в данном случае вы не подписываете.</p>

                  <p>Оплата в гривнах по курсу продажи банка ПУМБ, актуальном в день сьемки.</p>
                </div>
              </section>

      </main>
      <!-- main end -->

  <!-- footer start -->
  <footer>

    <div class="container">
      <div class="footer-social-items">
        <div class="footer-social-item">
          <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
        </div>
        <div class="footer-social-item">
          <a title="instagram" href="https://www.instagram.com/alina.piatyhor/"><i class="fab fa-instagram fa-lg"></i>instagram</a>
        </div>
        <div class="footer-social-item">
          <a title="facebook" href="https://www.facebook.com/a.ivaschenko1"><i class="fab fa-facebook-square fa-lg"></i>facebook</a>
        </div>
        <div class="footer-social-item">
          <a title="@mail" href="mailto:alina.piatyhor@gmail.com"><i class="far fa-envelope fa-lg"></i>alina.piatyhor@gmail.com</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- footer end -->

  </body>
</html>
