<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140721999-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-140721999-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/css/style.css'>
  <title>
    Индивидуальный Мастер Клас по съемке новорожденных
  </title>
  <meta name="description" content="Индивидуальный Мастер Клас по съемке новорожденных от профессионального фотографа Алины Пятигор ➔ Узнать подробнее!">
</head>

<body>
  <!-- header start -->
  
  <header>
      <div class="container">
            <div class="header-contacts">
                <div class="header-phone">
                  <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
                </div>
                <div class="header-viber">
                  <a title="Viber" href="viber://chat?number=+380955792417"><i class="fab fa-viber fa-lg"></i>Viber</a>
                </div>
            </div>
            <div class="header-nav">
                <div class="logo">
                    <a href="/">
                      <img class="logoImg" src="../img/logo.png" alt="logo">
                    </a>
                </div>
                <nav class="navigation">
                    <button type="button" class="nav-btn">
                      Меню
                      <span class="burger-line"></span>
                    </button>
                    <ul class="menu">
                        <li><a href="/">Главная</a></li>
                        <li>
                          <a class="menu-item">Галерея</a>
                          <ul class="menu-sub">
                            <% for (let i = 0; i < galleryNames.length; i++) { %>
                            <li><a href="<%= galleryNamesEn[i] %>">
                                <%= galleryNames[i] %></a></li>
                            <% }; %> 
                          </ul>
                        </li>
                        <li>
                          <a class="menu-item">Услуги</a>
                          <ul class="menu-sub">
                              <% for (let i = 0; i < prices.length; i++) { %>
                                <li><a href="<%= pricesEn[i] %>">
                                    <%= prices[i] %></a></li>
                                <% }; %>  
                          </ul>
                        </li>
                        <li><a href="o-semke">О съемке</a></li>
                        <li><a href="otzyvy">Отзывы</a></li>
                        <li><a href="obo-mne">Обо мне</a></li>
                        <li><a>Обучение</a></li>
                        <li><a href="kontakty">Контакты</a></li>
                    </ul>
                </nav>
            </div>
      </div>
  </header>
  <!-- header end -->

  <!-- main start -->
  <main>

    <section>

      <article class="education">
          <div class="container">

          <h3 class="education-title">Индивидуальное обучение <br>(1-2 чел)</h3>

          <p>Вы хотите научиться правильно и красиво фотографировать новрожденных, но не знаете с чего начать? Как показывает практика, наиболее эфективным способом обучения в данном направлении являеться индивидуальное обучение, ведь самое главное это подход! Мы все по разному воспринимаем информацию, кому-то нужно один раз увидеть, а кому-то этого недостаточно. Именно поэтому я рекомендую индивидуальное обучение.</p>
            
          <div class="education-img">
            <img src="../img/education/1.jpg" alt="Фотография младенца">
          </div>
          
          <h3 class="education-title">Плюсы индивидуального обучения::</h3>
          
          <ul class="education-points">
            <li>
              - все внимание преподавателя безоговорочно принадлежит вам;           
            </li>
            <li>
              - вы получаете только выжимку и всю самую необходимую и ценную информацию без воды;            
            </li>
            <li>
              - так же получаете проверенную схему проведения фотосессии, которая поможет выжать  максимальное количество разнообразных кадров минимально тревожа ребенка и гарантирует успех фотосессии даже с беспокойным малышом;
            </li>
            <li>
              - построение процесса обучения проводится с учетом ваших индивидуальных потребностей и целей, интенсивнее и объемнее подача материала;
            </li>
            <li>
              - при необходимости вносим изменения в программу обучения для отработки отдельных трудных моментов;
             </li>
            <li>
              - возможно пройти обучение вдвоем (с коллегой) и это будет дешевле.
            </li>
          </ul>
          
          <div class="education-img">
            <img src="../img/education/2.jpg" alt="Фотография младенца">
          </div>

          <p>Индивидуальный МК - это однодневный индивидуальный мастер-класс по съемке новорожденных, который подходит  и для тех, кто ни разу не был на групповых МК, и для тех, у кого после МК осталось много вопросов, а так же интересуют определенные позировки , интересен мой подход к съемочному процессу и т.д. . МК проходит в условиях реальной съемки новорождённого малыша. Организацией МК и поиском моделей занимаюсь я сама.</p>
          
          <div class="education-img">
            <img src="../img/education/3.jpg" alt="Фотография младенца">
          </div>

          <h3 class="education-title">Сопровождение</h3>

          <p>Так же мои студенты имеют возможность заказать СЪЕМКУ СОПРОВОЖДЕНИЕ. Этот вариант подходит для начинающих фотографов, которым на начальном этапе на своей сьемке необходима поддержка опытного фотографа. Это полностью ваша съемка, на ней я присутствую, направляю, помогаю в основном словестно, вы все делаете своими руками, чтобы понять и прочувствовать, что делали не так до. При этом организацией фотосессии и поиском модели занимается ученик.</p>

          <div class="education-img">
            <img src="../img/education/4.jpg" alt="Фотография младенца">
          </div>

        </div>
        </article>
    </section>

    <section class="send-main">
      <div class="container">
      <div class="send-main-items">
          <h3 class="send-main-title">
              Оставить заявку
          </h3>
          <div class="send-main-item">
              <form id="form" class="form">
                <div class="form-items">
                  <div class="form-item">
                      <input type="text" id="name" name="name" placeholder="Ваше имя">
                      <input type="email" id="email" name="email" placeholder="Ваш e-mail">
                      <input type="tel" id="phone" name="phone" placeholder="Ваш телефон">
                  </div>
                  <div class="form-item">
                      <textarea rows="10" cols="10" id="text" placeholder="Ваше сообщение"></textarea>
                  </div>
                </div>
                <input type="submit" id="send-main-from-btn" name="submit" value="Отправить">
              </form>
          </div>
      </div>
      </div>
    </section>


  </main>
  <!-- main end -->

  <!-- footer start -->
  <footer>

    <div class="container">
      <div class="footer-social-items">
        <div class="footer-social-item">
          <a title="Позвонить" href="tel:+380955792417"><i class="fas fa-phone-square fa-lg"></i>+380 95 579 24 17</a>
        </div>
        <div class="footer-social-item">
          <a title="instagram" href="https://www.instagram.com/alina.piatyhor/"><i class="fab fa-instagram fa-lg"></i>instagram</a>
        </div>
        <div class="footer-social-item">
          <a title="facebook" href="https://www.facebook.com/a.ivaschenko1"><i class="fab fa-facebook-square fa-lg"></i>facebook</a>
        </div>
        <div class="footer-social-item">
          <a title="@mail" href="mailto:alina.piatyhor@gmail.com"><i class="far fa-envelope fa-lg"></i>alina.piatyhor@gmail.com</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- footer end -->

  <script src="/js/library.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/form-validation.js"></script>

</body>

</html>