html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Century Gothic Regular';
  src: url("../fonts/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CenturyGothic.woff") format("woff");
  src: url("../fonts/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Century Gothic Bold';
  src: url("../fonts/CenturyGothic-Bold.eot");
  src: url("../fonts/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CenturyGothic-Bold.woff") format("woff");
  src: url("../fonts/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px; }

@media (max-width: 1199px) {
  .container {
    max-width: 960px; } }

@media (max-width: 991px) {
  .container {
    max-width: 750px; } }

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px; } }

.hero {
  background: url(../img/hero-min.jpg) 50% 25% no-repeat;
  background-size: cover;
  background-color: #fff;
  height: calc(100vh - 16vh);
  width: 100%;
  position: relative; }
  .hero:after {
    width: inherit;
    height: calc(100vh - 16vh);
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    position: absolute; }

.hero-content {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: inherit;
  color: #fff;
  padding: 0 5px; }
  .hero-content h1 {
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.5;
    font-family: 'Century Gothic Bold', sans-serif;
    margin-bottom: 30px; }
  .hero-content p {
    font-size: 25px;
    margin-bottom: 10px; }

.buttons {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  bottom: 10%;
  left: 0; }
  .buttons a {
    display: block;
    text-align: center;
    cursor: pointer;
    background: #6CC4D8;
    color: #fff;
    padding: 15px 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #fff; }
    .buttons a:hover {
      background: #fff;
      color: #6CC4D8;
      box-shadow: 1px 1px 10px 2px #6CC4D8; }

@media (max-width: 1199px) {
  .hero-content h1 {
    font-size: 36px; } }

@media (max-width: 991px) {
  .hero-content h1 {
    font-size: 28px; }
  .hero-content p {
    font-size: 18px; }
  .buttons a {
    width: 40%;
    font-size: 16px; } }

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 22px; }
  .hero-content p {
    font-size: 15px; }
  .hero-content {
    top: 50%; }
  .buttons a {
    width: 40%;
    font-size: 15px; } }

@media all and (max-width: 575.98px) {
  .hero-content h1 {
    font-size: 18px; }
  .hero-content p {
    font-size: 14px;
    padding-bottom: 20px; }
  .hero-content {
    top: 40%; }
  .buttons {
    flex-direction: column;
    align-items: center;
    bottom: 0%; }
    .buttons a {
      margin-bottom: 10px;
      padding: 10px 15px;
      font-size: 14px; } }

.newborn-price-main-title {
  margin-top: 20px; }
  .newborn-price-main-title a {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    padding: 10px 0;
    background: #fff;
    color: #6CC4D8;
    border-bottom: 2px solid #6CC4D8;
    border-top: 2px solid #6CC4D8;
    transition: .7s all; }
    .newborn-price-main-title a:hover {
      background: #6CC4D8;
      color: #fff;
      border-bottom: 2px solid #fff;
      border-top: 2px solid #fff;
      transition: .7s all; }

.newborn-price-main-items {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 20px; }

.newborn-price-main-item {
  width: 32%;
  cursor: pointer;
  position: relative;
  transition: all 1s ease; }

.newborn-price-main-img {
  transition: all 1s ease; }
  .newborn-price-main-img img {
    width: 100%;
    transition: all 1s ease; }

.newborn-price-main-subtitle {
  text-align: center;
  font-family: 'Century Gothic Bold', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  transition: all 1s ease; }

.newborn-price-main-text {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 0px;
  transition: all 1s ease; }
  .newborn-price-main-text span {
    margin-left: 5px;
    font-family: 'Century Gothic Bold', sans-serif; }

.newborn-price-main-over {
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  text-align: center;
  position: absolute; }
  .newborn-price-main-over a {
    display: block;
    background-color: #6CC4D8;
    color: #fff;
    margin-top: 30%;
    padding: 15px 25px;
    transition: all 1s ease; }

.two {
  border-bottom: 2px solid #6CC4D8;
  transition: all 1s ease; }

.newborn-price-main-item:hover .newborn-price-main-description {
  opacity: .2;
  transition: all 1s ease; }

.newborn-price-main-item:hover .newborn-price-main-img {
  opacity: .2;
  transition: all 1s ease; }

.newborn-price-main-item:hover .newborn-price-main-over {
  opacity: 1;
  transition: all 1s ease; }

.one:hover .two {
  border-bottom: 2px solid #fff;
  transition: all 1s ease; }

@media (max-width: 991px) {
  .newborn-price-main-subtitle {
    font-size: 18px; }
  .newborn-price-main-text {
    font-size: 14px; } }

@media (max-width: 768px) {
  .newborn-price-main-items {
    flex-direction: column;
    align-items: center; }
  .newborn-price-main-item {
    width: 100%;
    padding-bottom: 80px; }
  .newborn-price-main-over {
    opacity: 1; }
    .newborn-price-main-over a {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      margin: 15px auto;
      margin-top: 0; }
  .newborn-price-main-item:hover .newborn-price-main-description {
    opacity: 1;
    transition: none; }
  .newborn-price-main-item:hover .newborn-price-main-img {
    opacity: 1;
    transition: none; }
  .newborn-price-main-item:hover .newborn-price-main-over {
    opacity: 1;
    transition: all 1s ease; } }

.baby-price-title {
  text-align: center;
  margin: 30px auto;
  width: 100%;
  text-transform: uppercase;
  color: #6CC4D8;
  border-bottom: 2px solid #6CC4D8;
  border-top: 2px solid #6CC4D8;
  font-size: 24px;
  font-family: 'Century Gothic Bold', sans-serif;
  padding: 10px 0; }

.baby-price-items {
  display: flex;
  align-items: center;
  flex-direction: column; }

.baby-price-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  margin-bottom: 20px;
  padding: 20px; }
  .baby-price-item:nth-child(2) {
    border-left: none;
    border-right: 1px solid #000; }

.baby-price-img {
  width: 45%; }
  .baby-price-img img {
    display: block;
    width: 100%; }

.baby-price-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  padding-top: 20px; }
  .baby-price-description button {
    width: 50%;
    min-height: 40px;
    cursor: pointer;
    background-color: #6CC4D8;
    color: #fff;
    font-family: 'Century Gothic Bold', sans-serif;
    letter-spacing: 1.5px;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid #fff;
    transition: .5s all;
    margin: 10px 0px; }
    .baby-price-description button:focus {
      outline: none; }
    .baby-price-description button:hover {
      border: 2px solid #6CC4D8;
      background: #fff;
      color: #6CC4D8; }
  .baby-price-description h4 {
    padding-top: 5px; }

.baby-price-subtitle {
  font-family: 'Century Gothic Bold', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 0; }

.baby-price-text {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  padding: 10px 0px; }
  .baby-price-text li {
    padding-bottom: 10px; }

.baby-price-attention,
.baby-price-add {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px; }
  .baby-price-attention p,
  .baby-price-add p {
    padding: 10px 0;
    text-align: left;
    line-height: 1.5;
    text-align: justify; }

.baby-price-attention {
  border-top: 1px solid #000;
  border-right: 1px solid #000; }

.baby-price-add {
  border-top: 1px solid #000;
  border-left: 1px solid #000; }
  .baby-price-add p a {
    transition: .5s all;
    border-bottom: 1px solid #fff; }
    .baby-price-add p a:hover {
      border-bottom: 1px solid #6CC4D8; }

.folder-direction-item {
  color: #000; }

@media (max-width: 991px) {
  .baby-price-title {
    font-size: 26px; }
  .baby-price-subtitle {
    font-size: 18px; }
  .baby-price-text {
    font-size: 14px; }
  .baby-price-attention p,
  .baby-price-add p {
    font-size: 14px; } }

@media (max-width: 768px) {
  .baby-price-title {
    font-size: 20px;
    margin: 20px 10px; }
  .baby-price-subtitle {
    font-size: 16px; }
  .baby-price-item {
    padding: 10px 20px;
    flex-direction: column; }
  .baby-price-subtitle {
    padding: 10px 0; }
  .baby-price-description,
  .baby-price-img {
    width: 95%;
    padding-bottom: 10px; }
  .baby-price-text {
    padding: 5px 0;
    font-size: 13px; }
  .baby-price-description button {
    margin: 10px 0 0 0;
    width: 60%; } }

.direction-folder {
  margin: 15px 0;
  font-size: 14px;
  color: #000; }

.newborn-price-title {
  text-align: center;
  margin: 30px auto;
  width: 100%;
  text-transform: uppercase;
  color: #6CC4D8;
  border-bottom: 2px solid #6CC4D8;
  border-top: 2px solid #6CC4D8;
  font-size: 24px;
  font-family: 'Century Gothic Bold', sans-serif;
  padding: 10px 0; }

.newborn-price-items {
  display: flex;
  align-items: center;
  flex-direction: column; }

.newborn-price-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  margin-bottom: 20px;
  padding: 20px; }
  .newborn-price-item:nth-child(2) {
    border-left: none;
    border-right: 1px solid #000; }

.newborn-price-img {
  width: 45%; }
  .newborn-price-img img {
    display: block;
    width: 100%; }

.newborn-price-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  padding-top: 20px; }
  .newborn-price-description button {
    width: 50%;
    min-height: 40px;
    cursor: pointer;
    background-color: #6CC4D8;
    color: #fff;
    font-family: 'Century Gothic Bold', sans-serif;
    letter-spacing: 1.5px;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid #fff;
    transition: .5s all;
    margin: 10px 0px; }
    .newborn-price-description button:focus {
      outline: none; }
    .newborn-price-description button:hover {
      border: 2px solid #6CC4D8;
      background: #fff;
      color: #6CC4D8; }
  .newborn-price-description h4 {
    padding-top: 5px; }

.newborn-price-subtitle {
  font-family: 'Century Gothic Bold', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 0; }

.newborn-price-text {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  padding: 10px 0px; }
  .newborn-price-text li {
    padding-bottom: 10px; }

.newborn-price-attention,
.newborn-price-add {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px; }
  .newborn-price-attention p,
  .newborn-price-add p {
    padding: 10px;
    text-align: left;
    line-height: 1.5;
    text-align: justify; }

.newborn-price-attention {
  border-top: 1px solid #000;
  border-right: 1px solid #000; }

.newborn-price-add {
  border-top: 1px solid #000;
  border-left: 1px solid #000; }
  .newborn-price-add p a {
    transition: .5s all;
    border-bottom: 1px solid #fff; }
    .newborn-price-add p a:hover {
      border-bottom: 1px solid #6CC4D8; }
  .newborn-price-add p:last-child {
    text-align: center;
    padding: 20px 0 10px 0; }

@media (max-width: 991px) {
  .newborn-price-title {
    font-size: 26px; }
  .newborn-price-subtitle {
    font-size: 18px; }
  .newborn-price-text {
    font-size: 14px; }
  .newborn-price-attention p,
  .newborn-price-add p {
    font-size: 14px; } }

@media (max-width: 768px) {
  .direction-folder {
    font-size: 10.5px; }
  .newborn-price-title {
    font-size: 20px;
    margin: 20px 10px; }
  .newborn-price-subtitle {
    font-size: 16px; }
  .newborn-price-item {
    padding: 10px 20px;
    flex-direction: column; }
  .newborn-price-subtitle {
    padding: 10px 0; }
  .newborn-price-description,
  .newborn-price-img {
    width: 95%;
    padding-bottom: 10px; }
  .newborn-price-text {
    padding: 5px 0; }
  .newborn-price-description button {
    margin: 10px 0 0 0; } }

.footer-social-items {
  background-color: #fff;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-top: 2px solid #6CC4D8;
  margin-top: 20px; }

.footer-social-item {
  text-align: center; }
  .footer-social-item a {
    display: block; }
    .footer-social-item a i {
      padding-right: 10px; }

@media (max-width: 768px) {
  .footer-social-items {
    flex-direction: column;
    margin: 20px 0;
    padding-top: 20px; }
  .footer-social-item {
    padding: 15px 0; } }

/*! START main style */
body {
  font-family: 'Century Gothic Regular', sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border-collapse: collapse; }

a {
  text-decoration: none;
  color: #6CC4D8;
  font-family: 'Century Gothic Bold', sans-serif; }

li {
  text-decoration: none;
  list-style: none; }

/*! END main style */
/*! START container style */
/*! END container style */

/*# sourceMappingURL=style.css.map */