@import 'reset'

@import 'fonts'

@import 'grid'

@import 'header'

@import 'sections/hero' 

@import 'sections/newborn-gallery-main'

@import 'sections/article'

@import 'sections/newborn-price-main'

@import 'sections/article-main'

@import 'sections/o-semke'

@import 'newborn-price'

@import 'photo-production-price'

@import 'sections/baby-price'

@import 'sections/send-main'

@import 'universal-gallery'

@import 'prew-gallery'

@import 'sections/feedbacks-main'

@import 'sections/about-me-main'

@import 'about-me'

@import 'feedback'

@import 'footer'

@import 'gallery'

@import 'modal'

/*! START main style */

body
  // font: 14px, "Lucida Grande", Helvetica, Arial, sans-serif
  +regular
  background-color: #fff
  box-sizing: border-box
  margin: 0
  overflow-y: scroll
  overflow-x: hidden
  border-collapse: collapse 
a
  text-decoration: none
  color: #6CC4D8
  +bold

li 
  text-decoration: none
  list-style: none

/*! END main style */
